/RoadStatus/bin/Debug/netcoreapp3.1
/RoadStatus/obj/RoadStatus.csproj.nuget.g.targets
/RoadStatus/obj/RoadStatus.csproj.nuget.g.props
/RoadStatus/obj/RoadStatus.csproj.nuget.dgspec.json
/RoadStatus/obj/RoadStatus.csproj.nuget.cache
/RoadStatus/obj/project.assets.json
/.vs/Tfl.Solution/v16/Server/sqlite3
/.vs/Tfl.Solution/v16/TestStore/1
