<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!-- Legacy config:
  There is some testing impact = this file cannot be used in .NET core to also configure the TEST project, as you would normally expect in .NET projects.
  There are known bugs around this, as the arcane JSON.Appsettings is now the preferred configuration method, God help us all.
  The MSDN "help" around this is very ASP.NET.MVC specific, so difficult to simplify in the time constraints of
  the TFL test.-->
  
  <appSettings>
    <add key="your_developer_key" value="__insert_your_application_id_here__" />
    <add key="your_app_id" value="__insert_your_application_id_here__" />
  </appSettings>
</configuration>
